{% extends "base.html" %}

{% block header %}
  <h1>{% block title %}Search Results{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('blog.create') }}">New</a>
  {% endif %}
{% endblock %}


{% block content %}
{%if posts == []%}
<br>No results matched your search</br>
{%endif%}
  {% for post in posts %}
    <article class="post">

	<header>
	    <div>
		     <h2>{{ post["title"] }}</h2>
		     <div class="about">by <a href="{{url_for('profile.profile', userid=post['author_id'],)}}"> {{ post["username"] }} </a> on {{ post["created"].strftime("%Y-%m-%d") }}</div>
		</div>

	    {% if g.user["id"] == post["author_id"] %}
		     <a class="action" href="{{ url_for('blog.update', id=post['id'])}}">Edit</a>
		{% endif %}
	</header>

	  <p class="body">{{ post["body"] }}</p>
	  <i class="like">{{ post["likes"] }} Likes</i>

	  {% if g.user %}
	  {% if check_if_liked(post["id"], g.user["id"]) == None %}
	  <a href="{{ url_for('blog.likePost', postid=post['id'], userid=g.user['id'], page='index') }}" method="post">Like</a>
	  {% else %}
	  <a href="{{ url_for('blog.likePost', postid=post['id'], userid=g.user['id'], page='index') }}" method="post">Remove Like</a>
	  {% endif %}

	  {% if check_if_disliked(post["id"], g.user["id"]) == None %}
	  <a href="{{ url_for('blog.dislikePost', postid=post['id'], userid=g.user['id'], page='index') }}" method="post">Dislike</a>
	  {% else %}
	  <a href="{{ url_for('blog.dislikePost', postid=post['id'], userid=g.user['id'], page='index') }}" method="post">Remove Dislike</a>
	  {% endif %}
	  {% endif %}

	</article>

	  {% if not loop.last %}
	    <hr>
	  {% endif %}
  {% endfor %}
{% endblock %}